*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #222831;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}


.container1{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;


}
.gallery img{
    width: 100%;
}

.footer{
    background-color: #111;
  }
  .footer_container{
    width: 100%;
    padding: 40px 30px 20px ;
  }
  .social_icon{
    display: flex;
    justify-content: center;
  }
  .social_icon a{
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 50%;
  }
  .social_icon a i {
    font-size: 2em;
    color: black;
    opacity: 0.9;
  
  }
  .social_icon a:hover{
    background-color: #111;
    transition: 0.5s;
  }
  .social_icon a:hover i {
    color: white;
    transition: 0.5s;
  }