* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #222831;
}

.container {
    max-width: 100%;
    margin: 0;
    padding: 0;
}

.header {
    background-color: white;
    padding: 20px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding-left: 125px;
    margin-top: -48px;
    padding-right: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.section-text{
    font-size: 18px;
    color: #F5F5F5;
font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 100;
    margin-top: 5px;
}

.navbar-link {
    text-decoration: none;
    color: #000080;
    font-size: 35px;
    padding: 10px 15px;
    transition: color 0.3s ease;
    display: flex; 
    align-items: center;
    position: relative;
}
.navbar-list {
    list-style: none;
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 100%; 
    padding-left: 155px;
    margin-top: -48px;
    padding-right: 10px;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}


.navbar-link:hover ,
.navbar-link:focus{
    color: #555;

}
.navbar-link::after{
content: '';
height: 2px;
width: 100%;
background-color: rgb(0, 183, 255);
position: absolute;
left: 0;
bottom: -8px;
opacity: 0;
transition: all 0.2s;


}
.navbar-link:hover::after,
.navbar-link:focus::after{
  opacity: 1;
}


.btn1{
  position: relative;
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  text-transform: uppercase;
  width: 130px;
  overflow: hidden;
  margin-left: 20px;
  margin-bottom: -5px;
  border-radius: 15px;
}
.btn1 span {
  position: relative;
  z-index: 1;
  color: #fff;
  font-size: 15px;
  letter-spacing: 8px;

}
.btn1 .liquid{
  position: absolute;
  left: 0;
  top: -80px;
  width: 200px;
  height: 200px;
background: #4973ff;
box-shadow: inset 0 0 50px rgba(0, 0, 0, .5);
transition: 0.5s;
}
.btn1:hover .liquid{
  top:-120px;
}
.btn1 .liquid:before,
.btn1 .liquid:after{
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  top: 0;
  left: 50%;
  transform: translate(-50%,-75%);
}
.btn1 .liquid:before{
  border-radius: 45%;
  background: rgba(20,20 ,20 ,1 );
  animation: animate 5s linear infinite;
}
.btn1 .liquid:after{
  border-radius: 40%;
  background: rgba(20,20 ,20 ,0.5 );
  animation: animate 10s linear infinite;
}
@keyframes animate {

  0%{
    transform: translate(-50%,-75%) rotate(0deg);
  }
  
  100%{
    transform: translate(-50%,-75%) rotate(360deg);
  }
}
@media (max-width: 768px) {
  .navbar-list {
      flex-direction: column;
      align-items: flex-start;
      width: 40%;
      margin-left: 50PX;
  }

  .navbar-link {
      padding: 10px 0;
      width: 100%; 
      justify-content: flex-start; 
  }

  .btn {
      margin-top: 10px;
      width: 40%; 
      margin-left: 20px;
    
  }
}
@media(max-width:700px){
  .footer_nav{
    flex-direction: column;
  }
  .footer_nav ul li{
    width: 100%;
    text-align: center;
    margin: 10px;
  }
}
